*{
	margin: 0;
	padding: 0;
}

ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
body,html{
	height: 100%;
	/* border: 1px solid red; */
	background-color: #ECECEC;
}
#container{
	position: relative;
	width: 100%;
	min-height: 100%;
	padding-bottom: 100px;
	box-sizing: border-box;
}
.head{
	width: 100%;
	height: 100px;
}
.head1{
	width: 80%;
	height: 100px;
	margin: 0 auto;
	margin-top: 10px;
	/* border: 1px solid red; */
	border-bottom: 3px solid #C0CDCA;
	border-top: 2px solid #DBDBDD;
}
.head2{
	width: 30%;
	height: 100px;
	float: left;
	position: relative;
	/* border: 1px solid red; */
}
.head2 img{
	width: 75px;
	margin-top: 2px;	
	/* border: 1px solid black; */
}
.head2 p{
	position: absolute;
	left: 75px;
	top: 25px;
}
.search_box{
	width: 40%;
	height: 100px;
	/* border: 1px solid black; */
	float: left;
}
.search{
	width: 50%;
	height: 30px;
	margin: 0 auto;
	margin-top: 35px;
	background-color: white;
	border: 1px solid  white;
	border-radius: 10px;
	position: relative;
}
.search input{
	height: 28px;
	width: 80%;
	float: left;
	border: 0;
	outline: none;
	border-radius: 10px;
}
.search img{
	/* float: right; */
	/* border: 1px solid black; */
	width: 25px;
	position: absolute;
	right: 5px;
}
.head4{
	width: 29.6%;
	height: 100px;
	position: relative;
	/* border: 1px solid blue; */
	float: right;
}
.login{
	float: right;
	/* width: 40%; */
	width: 120px;
	height: 30px;
	display: flex;	
	/* border: 1px solid blue; */
	background-color:#B1C1C5;
}
.login button{
	width: 65px;
	border: 0;
	color: white;
	background-color:#C0CDCA ;
}
.login button a{
	color: white;
	cursor: pointer;
}
.cash{
	position: absolute;
	right: 0;
	top: 50px;
	/* width: 26%; */
	width: 70px;
	height: 1.875rem;
	border: 2px solid  #DBDBDD;
	/* border: 1px solid red; */
}
.cash button{
	width: 100%;
	height: 33px;
	border: 0;
	cursor: pointer;
	/* border: 1px solid blue; */
}
.cash button a{
	font-size: 12px;	
}
.cash button img{
	width: 1.25rem;
	margin-top: 8px;
}
/* 导航条开始 */
.nav{
	width: 100%;
	height: 35px;
	margin-top: 9px;
	background-color:#B1C1C5 ;
	/* border: 1px solid blue; */
}
.nav ul {
	width: 80%;
	margin: 0 auto;
	height: 35px;
	/* border: 1px solid red; */
	/* background-color:#B1C1C5 ; */
}
.nav ul li{
	width: 97px;
	height: 35px;
	line-height: 30px;
	text-align: center;
	/* border: 1px solid red; */
	float: left;
}
.nav ul li a{
	font-size: 14px;
	color: white;
}
.nav ul li:hover{
	background-color: plum;
}
@media (max-width:600px) {
	.nav ul{
		width: 100%;
	}
}
.lunbo{
	width: 100%;
	height: 400px;
	margin-top: 14px;
	margin-bottom: 14px;
	/* border: 1px solid red; */
}
.lunbobox{
	width: 80%;
	height: 400px;
	margin: 0 auto;
	
	/* border: 1px solid red; */
}
 .carousel img {
        width: 100%;
        height: 400px;
    }
/* 轮播结束 */
.center{
	width: 100%;
	height: 650px;
	/* border: 1px solid blueviolet; */
}
.center1{
	height: 360px;
	width: 80%;
	margin: 0 auto;
		/* border: 1px solid red; */
}
.cenbox1{
	width: 35%;
	height: 360px;
	float: left;
	margin-right: 35px;
	/* border: 1px solid red; */
}
.cenbox1 img{
	width: 100%;
	height: 360px;
}
.cenbox2{
	width: 60%;
	height:360px;
	float: right;
	/* border: 1px solid red; */
}
.cen22{
	width: 100%;
	height: 40px;
	position: relative;
	background-color: #B1C1C5;
	/* border: 1px solid red; */
}
#flower{
	position: absolute;
	left: 60px;
	top: 5px;
	color: white;
}
#flower2{
	position: absolute;
	right: 9px;
	top: 5px;
}
.cent33{
	width: 100%;
	margin-top: 16px;
	height: 190px;
	/* border: 1px solid red; */
}
.cen3_left{
	position: relative;
	width: 30%;
	height: 170px;
	float: left;
	/* border: 1px solid red; */
	font-size: xx-small;
	color: #989997;
}
.cen3_left img{
	width: 80%;
	position: absolute;
	height: 130px;
	margin-left: 15px;
	/* border: 1px solid red;	 */
}
.cen3_left p{
	font-size: xx-small;
	position: absolute;
	top: 130px;
}
.cne3_right{
	width: 66%;
	float: right;
	height: 170px;
	/* border: 1px solid red; */
}
.cne3_right table{
	width: 100%;
	height: 150px;
}
.cne3_right tr{
	width: 100%;
	font-size: 12px;
	color: #989997;
	/* border: 1px solid red; */
}
.cen4{
	width: 100%;
	height: 80px;
	margin-top: 23px;
	line-height: 80px;
	background-color: #B1C1C5;
	border-radius: 20px;
	border: 1px solid #B1C1C5;
	/* border: 1px solid red; */
}
.cen4 p{
	text-align: center;
	color: white;
	font-size: 28px;
}
/* 图册开始 */
.center2{
		width: 80%;
		height: 250px;
		margin: 0 auto;
		margin-top:20px;
		/* border: 1px solid red; */
}
.photo{
	height: 30px;
	display: flex;
	justify-content:space-between ;
	border-bottom: 3px solid #A89799;
}
.photos{
	width: 100%;
	height: 190px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	/* border: 1px solid red; */
}
.imgbox{
	width: 190px;
	height: 100%;
}
.imgbox img{
	width: 100%;
	height: 190px;
}

.foot{
	height: 90px;
	width: 100%;
	color: white;
	background-color: #B1C1C5;
	position: absolute;
	left: 0px;
	bottom: 0px;
	/* border: 1px solid red; */
}
.foot p{
	margin-top: 10px;
	text-align: center;
}


/* 花卉百科开始 */
#flowercent{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	/* border: 1px solid red; */
}
.flowersJie{
	height: 260px;
	/* border: 1px solid red; */
}
.flowersBox1{
	height: 40px;
	background-color:#B1C1C5 ;
	/* border: 1px solid red; */
}
.flowersBox1 p{
	font-weight: bold;
	font-size: 19px;
	line-height: 40px;
}
.flowersBox2{
	width: 100%;
	height: 210px;
	margin-top: 10px;
	/* border: 1px solid blue; */
}
.flowersLeft{
	height: 210px;
	width: 50%;
	float: left;
	/* border: 1px solid blue; */
}
.flowersLeft p{
	color: #7F7F7F;
	text-indent: 32.4px;
}
.kong{
	width: 10%;
	height: 210px;
	float: left;
	/* border: 1px solid crimson; */
}
.flowersRight{
	width: 40%;
	height: 210px;
	float: left;
	/* border: 1px solid blue; */
}
.flowersRight img{
	width: 90%;
	height: 200px;
}

/* 第三个页面登录开始 */
